
html {
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}
:root{
    --size: 300px;
}
body{
    background: #2f363e;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.title{
    text-align: center;
    color: aliceblue;
}
H6{
    text-align: center;
    color: aliceblue; 
}
.pie{
    text-align: center;
    color: aliceblue;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
}
.container .notes{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: flex-start;
    align-items: flex-start;
}

.container .notes .nota{
    position:relative;
    width: var(--size);
    height: var(--size);
    background:  #e4db60;
    padding: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}

.container .notes .nota::before{
    content: 'doble click para borrar esta nota y 1 click para modificar ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.15);
    padding: 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85em;
    opacity: 0;
    transition: 0.5s;
}
.container .notes .nota:hover::before{
    opacity: 1;
}
#create{
    position: relative;
    width: var(--size);
    height: var(--size);
    background : rgba(255,255,255,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    cursor: pointer;
}

#create i{
    position: absolute;
    color: #fff;

}
.createBox{
    position: relative;
    width: var(--size);
    height: var(--size);
    z-index: 1000;
    /**/
    display: none;
}
.createBox textarea{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    padding: 20px;
    outline: none;
    font-size: 0.2em;
    resize: none;
}
.details h3{
    user-select: none;
}
